:host {
  font: 1rem "Inter", sans-serif;
  --color-foam: #ffffff;
  --color-granite: #252629;
}

article {
  background-color: var(--color-foam);
  color: var(--color-granite);
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 3px;
}
